
        <table>
                <div class="scroll">    
            <col width="200">
                <col width="200">
                <col width="200">
                <col width="200">
                <col width="200">
                <col width="200">
                
            <tr>
                <th>
                    id
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    email
                </th>
                <th>
                    Gender
                </th>
                <th>
                    City
                </th>
            </tr>
            
                    <tr *ngFor="let r of record">
                            <td>{{ r.id }}</td>
                            <td>{{ r.first_name }}</td>
                            <td>{{ r.last_name }}</td>
                            <td>{{ r.email }}</td>
                            <td>{{ r.gender }}</td>
                            <td>{{ r.city }}</td>
                        </tr>
            </div>
            
        </table>

