<!--The content below is only a placeholder and can be replaced.-->
<html>
  <head>
    <title>
      City
    </title>
  </head>
  <body>
    <div class="header">
      <b>CITY</b>
    </div>
    <br>
    <table>
        <col width="200">
        <col width="200">
      <tr>
        <td>
          <app-drop1></app-drop1>
        </td>
        <td>
          <app-drop2></app-drop2>
        </td>
      </tr>
    </table>
    <br>
    <br>
    <app-table></app-table>

    <div class="footer">
      <b>
        Hello
      </b>
    </div>
  </body>
</html>
